body{
    background: white url("img/hypnotize.png");
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand{
    font-family: 'Source Sans Pro', sans-serif;
}

.pracfont{
    font-family: 'Source Sans Pro', sans-serif;
}